:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--white-background);
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.link {
  text-decoration: none;
  transition: color var(--transition);
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 120px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------------HEADER------------------*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  margin-right: 76px;
}

.header-logo .spn {
  color: var(--dark);
}

.header-menu-list,
address {
  display: none;
}

.menu-opener {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  stroke: var(--dark);
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100%;
  background-color: var(--white-background);
  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 1;
  transition: opacity var(--transition);
}

.is-hidden .mob-menu {
  opacity: 0;
}

.menu-closer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-bottom: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.menu-closer svg {
  fill: var(--dark);
}

.mob-menu-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.menu-active {
  color: var(--pressed-state);
}

.mob-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mob-menu-tel {
  color: var(--primary-brand);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.03em;
}

.mob-menu-mail {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--text);
}

.mob-menu-soc-list {
  display: flex;
  gap: 27px;
}

.mob-menu-soc-item {
  width: 40px;
  height: 40px;
}

.mob-menu-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.mob-menu-soc-link:hover,
.mob-menu-soc-link:focus {
  background-color: #31d0aa;
}

.mob-menu-soc-icon {
  fill: var(--light);
}

/*------------------HERO------------------*/
.hero {
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 112px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
  max-width: 320px;
  margin-bottom: 72px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  transition: background-color var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

/*------------------FEATURES------------------*/
.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 76px;
}

.features-item {
  width: 100%;
}

.features-icon-container {
  display: none;
}

.features-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/*------------------PRODUCTS------------------*/

.products {
  display: none;
}

/*------------------TEAM------------------*/
.team {
  background-color: var(--light);
  padding-top: 96px;
  padding-bottom: 96px;
}

.team .container {
  max-width: 294px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: var(--white-background);
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-person {
  padding: 32px 0px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.team-soc-link {
  cursor: pointer;
  padding: 12px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.team-soc-icon {
  fill: var(--light);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--pressed-state);
}

/*------------------CUSTOMERS------------------*/
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 16px 32px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--transition), color var(--transition);
  color: var(--subtle-text);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid var(--pressed-state);
  color: var(--pressed-state);
}

.customers-icon {
  fill: currentColor;
  transition: fill var(--transition);
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: var(--pressed-state);
}

/*------------------FOOTER------------------*/
.footer {
  background-color: var(--dark);
  padding-top: 96px;
  padding-bottom: 96px;
}

/* .footer-container {
  display: flex;
  align-items: baseline;
} */

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

/* .footer-company-part {
  margin-right: 120px;
} */

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-logo .spn {
  color: var(--light);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  max-width: 264px;
}

.footer-soc-title,
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: var(--light);
}

/* .footer-social {
  margin-right: auto;
} */

.footer-subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.footer-email-input {
  width: 290px;
  height: 40px;
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid var(--white-background);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--white-background);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border-color var(--transition);
}

.footer-email-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background);
}

.footer-email-input:hover,
.footer-email-input:focus {
  border-color: var(--primary-brand);
}

.sub-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  text-align: left;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  transition: background-color var(--transition);
}

.sub-icon {
  margin-left: 16px;
  fill: var(--white-background);
}

.sub-btn:hover,
.sub-btn:focus {
  background-color: var(--pressed-state);
}

/***-------MODAL-------***/
.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
  width: 290px;
  min-height: 584px;
  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal-btn {
  position: absolute;
  padding: 0;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition), border var(--transition);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state);
  border: none;
}

.modal-close-icon {
  fill: var(--dark);
  transition: fill var(--transition);
}

.modal-btn:hover .modal-close-icon,
.modal-btn:focus .modal-close-icon {
  fill: var(--white-background);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 16px 11px 38px;
  border: 1px solid var(--modal-overlay);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--transition);
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.textarea-field {
  margin-bottom: 16px;
}

.modal-textarea {
  height: 70px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-overlay);
}

.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--primary-brand);
}

.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: var(--primary-brand);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modal-overlay);
}

.policy-check-field {
  margin-bottom: 24px;
}

.modal-checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-checkbox-text .policy-link {
  color: var(--primary-brand);
}

.fake-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--modal-overlay);
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}

.modal-policy-check:checked + .modal-checkbox-text .fake-checkbox {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.modal-policy-check:hover + .modal-checkbox-text .fake-checkbox,
.modal-policy-check:focus + .modal-checkbox-text .fake-checkbox {
  border-color: var(--primary-brand);
}

.modal-submit-button {
  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  transition: background-color var(--transition);
}

.modal-submit-button:hover,
.modal-submit-button:focus {
  background-color: var(--pressed-state);
}

/*********------------PORTFOLIO-PAGE-----------*********/

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.portfolio.container {
  max-width: 290px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  justify-content: left;
  max-width: 290px;
  margin-bottom: 48px;
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background-color: var(--light);
  cursor: pointer;
  padding: 8px 16px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  width: 290px;
}

.portfolio-item img {
  object-fit: cover;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 8px;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.portfolio-content {
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
  padding: 32px 16px;
  transition: border-right var(--transition), border-bottom var(--transition),
    border-left var(--transition);
}

.portfolio-link:hover .portfolio-content,
.portfolio-link:focus .portfolio-content {
  border-right: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
  border-left: 1px solid var(--light);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-image-overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  background-color: var(--primary-brand);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform var(--transition);
}

.portfolio-link:hover .portfolio-image-overlay,
.portfolio-link:focus .portfolio-image-overlay {
  transform: translateY(0%);
}
